<% include partials/header %>

<%
const format_date = function(date) {
    // remove milliseconds
    let d = new Date(Date.parse(date));
    return d.toISOString().split('.')[0]+"Z";
}
%>


<h1>List of Tasks</h1>

<table style="width:100%">
    <tr>
       <th>N</th><th>TaskName</th><th>TaskID</th><th>UserName</th><th>TimeCreated</th>
    </tr>
    <% tasks = tasks["items"]; %>
    <% for (let i = 0; i < tasks.length; i++) { %>
    <tr>
       <td> <%= `${i + 1}.` %></td>
       <td> <%= tasks[i].name %></td>
       <td> <%= tasks[i].id %></td>
       <td> <%= id2username(tasks[i].createdBy) %></td>
       <td> <%= format_date(tasks[i].timeCreated) %></td>
    </tr>
    <% } %>
</table>

<% include partials/footer %>
