<% include partials/header %>

<h1><%= `Just showing info about task with ID ${taskid}` %></h1>
<ul>
  <li>ID: <%= task_info['id'] %></li>
  <li>Name: <%= task_info['name'] %></li>
  <li>Description: <%= task_info['description'] %></li>
  <li>ACL: <%= task_info['acl'] %></li>
  <li>Creator: <%= id2username(task_info['createdBy']) %></li>
  <li>Creation Date: <%= format_date(task_info['timeCreated']) %></li>
  <li>Modifier: <%= id2username(task_info['modifiedBy']) %></li>
  <li>Modification Date: <%= format_date(task_info['timeModified']) %></li>

</ul>
<% include partials/footer %>
