<% include ../partials/header %>

<h1 class="title">List of Workflow Versions</h1>

<table id="version_table" class="cell-border display compact">
  <thead>
    <tr>
      <th>N</th>
      <th>ID</th>
      <th>Version</th>
      <th>Language</th>
      <th>Status</th>
      <th>CreatedBy</th>
      <th>TimeCreated</th>
      <th>ModifiedBy</th>
      <th>TimeModified</th>
    </tr>
  </thead>
  <tbody>
    <% versions = versions["items"]; %> <% for (let i = 0; i < versions.length;
    i++) { %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td><%= versions[i].id %></td>
      <td><%= versions[i].version %></td>
      <td><%= versions[i].language.name %></td>
      <td><%= versions[i].status %></td>
      <td name="<%= versions[i].createdBy %>">
        <%= id2username(versions[i].createdBy) %>
      </td>
      <td><%= format_date(versions[i].timeCreated) %></td>
      <td name="<%= versions[i].modifiedBy %>">
        <%= id2username(versions[i].modifiedBy) %>
      </td>
      <td><%= format_date(versions[i].timeModified) %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#version_table").DataTable();
  });
</script>

<% include ../partials/footer %>
