<%- include("../partials/header") %>

<h1 class="title"><%= `History for Workflow Run with ID ${runid}` %></h1>

<table
  id="workflowrunhistory_table"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>Name</th>
      <th>DurationMin</th>
      <th>Timestamp</th>
      <th>ID</th>
      <th>IDprev</th>
      <th>Type</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% events = history["items"]; %>
    <% firstPageToken = history["firstPageToken"] %>
    <% nextPageToken = history["nextPageToken"] %>
    <% prevPageToken = history["prevPageToken"] %>
    <% if (firstPageToken) {%>
        <a href="/workflows/runs/<%= runid %>/history?pageToken=<%= firstPageToken %>&sort=eventId desc" class="ui toggle compact blue button">FirstPage</a>
    <% } %>
    <% if (nextPageToken) {%>
        <a href="/workflows/runs/<%= runid %>/history?pageToken=<%= nextPageToken %>&sort=eventId desc" class="ui toggle compact green button">NextPage</a>
    <% } %>
    <% if (prevPageToken) {%>
        <a href="/workflows/runs/<%= runid %>/history?pageToken=<%= prevPageToken %>&sort=eventId desc" class="ui toggle compact orange button">PreviousPage</a>
    <% } %>

    <% for (let i = 0; i < events.length; i++) { %>
      <% ed = events[i].eventDetails %>
      <% ad = ed.additionalDetails %>
      <% if (ad === undefined) {%>
      <% ad = null %>
      <% } else { %>
      <% ad = Math.floor(ad[0].Duration / 60) || null %>
      <% } %>
      <% ed = jsonSyntaxHighlight(JSON.stringify(ed, null, 4)) %>
      <tr>
        <td><%= `${i + 1}.` %></td>
        <td><%= events[i].name %></td>
        <td><%- ad %></td>
        <td><%= format_date(events[i].timestamp) %></td>
        <td><%= events[i].eventId %></td>
        <td><%= events[i].previousEventId %></td>
        <td><%= events[i].eventType %></td>
        <td><%- ed %></td>
      </tr>
      <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#workflowrunhistory_table").DataTable({
      pageLength: 50,
      lengthMenu: [ [10, 50, 100, 300, -1], [10, 50, 100, 300, "All"] ],
      "createdRow": function ( row, data, index ) {
          if ( data[6] === "Succeeded" || data[6] === "RunSucceeded" ) {
              $('td', row).eq(6).addClass('completed');
          } else if (data[6] === "Started") {
              $('td', row).eq(6).addClass('running');
          } else if (data[6] === "Failed" || data[6] === "Aborted") {
              $('td', row).eq(6).addClass('failed');
          } else if (data[6] === "RunFailed") {
              $('td', row).eq(6).addClass('failed2');
          } else if (data[6] === "RunStarted") {
              $('td', row).eq(6).addClass('running');
          }
      },
      "dom": '<"top"flip>t<"bottom"flip>',
    });
  });
</script>


<pre>
<%- jsonSyntaxHighlight(JSON.stringify(history, null, 2)) %>
</pre>


<%- include("../partials/footer") %>

