<%- include("../partials/header") %>

<h1 class="title">List of Workflow Versions</h1>

<table
  id="version_table"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>ID</th>
      <th>Version</th>
      <th>Language</th>
      <th>Status</th>
      <th>CreatedBy</th>
      <th>TimeCreated</th>
      <th>ModifiedBy</th>
      <th>TimeModified</th>
    </tr>
  </thead>
  <tbody>
    <% versions = versions["items"]; %> <% for (let i = 0; i < versions.length;
    i++) { %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td>
        <a href="/workflows/versions/<%= versions[i].id %>?pageSize=200&sort=timeCreated desc"><%= versions[i].id %></a>
      </td>
      <td><%= versions[i].version %></td>
      <td><%= versions[i].language.name %></td>
      <td><%= versions[i].status %></td>
      <td name="<%= versions[i].createdBy %>">
        <%= id2username(versions[i].createdBy) %>
      </td>
      <td><%= format_date(versions[i].timeCreated) %></td>
      <td name="<%= versions[i].modifiedBy %>">
        <%= id2username(versions[i].modifiedBy) %>
      </td>
      <td><%= format_date(versions[i].timeModified) %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#version_table").DataTable({
      "dom": '<"top"flip>t<"bottom"flip>'
    }
    );
  });
</script>

<%- include("../partials/footer") %>
