<%- include("../../partials/header") %>

<h1 class="title"><%= `Bundles for ProjectID ${projectid}` %></h1>

<table
  id="tab"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>ID</th>
      <th>Name</th>
      <th>ShortDescription</th>
      <th>OwnerID</th>
      <th>ReleaseVersion</th>
      <th>VersionComment</th>
      <th>Status</th>
      <th>TimeCreated</th>
      <th>TimeModified</th>
    </tr>
  </thead>
  <tbody>
    <% p = data["items"]; %>
    <% for (let i = 0; i < p.length; i++) { %>
    <% x = p[i].bundle; %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td><a href="/projects/<%= projectid %>/bundles/<%= x.id %>"><%= x.id %></a></td>
      <td><%= x.name %></td>
      <td><%= x.shortDescription %></td>
      <td><%= id2username(x.ownerId) %></td>
      <td><%= x.releaseVersion %></td>
      <td><%= x.versionComment %></td>
      <td><%= x.status %></td>
      <td><%= format_date(x.timeCreated) %></td>
      <td><%= format_date(x.timeModified) %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#tab").DataTable({
      pageLength: 10,
      lengthMenu: [ [10, -1], [10, "All"] ],
      "dom": '<"top"flip>t<"bottom"flip>'
    });
  });
</script>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(data, null, 2)) %>
</pre>

<%- include("../../partials/footer") %>

