<% include partials/header %>

<h1>List of Tasks</h1>


<table style="width:100%">
    <tr>
       <th>N</th><th>ID</th><th>Name</th><th>Creator</th><th>TimeCreated</th>
    </tr>
    <% tasks = tasks["items"]; %>
    <% for (let i = 0; i < tasks.length; i++) { %>
    <tr>
       <td> <%= `${i + 1}.` %></td>
       <td> <%= tasks[i].id %></td>
       <td> <%= tasks[i].name %></td>
       <td> <%= tasks[i].createdBy %></td>
       <td> <%= tasks[i].timeCreated %></td>
    </tr>
    <% } %>
</table>

<% include partials/footer %>