<%- include("../../partials/header") %>

<h1 class="title"><%= `Analyses for Project ${projectid}` %></h1>

<table
  id="tab"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>AnalysisID</th>
      <th>PipelineID</th>
      <th>OwnerID</th>
      <th>Reference</th>
      <th>Status</th>
      <th>Summary</th>
      <th>TimeCreated</th>
      <th>TimeModified</th>
      <th>StartDate</th>
      <th>EndDate</th>
    </tr>
  </thead>
  <tbody>
    <% p = data["items"]; %>
    <% firstPageToken = data["firstPageToken"] %>
    <% nextPageToken = data["nextPageToken"] %>
    <% prevPageToken = data["prevPageToken"] %>
    <% if (firstPageToken) {%>
        <a href="/projects/<%= projectid %>/analyses?pageToken=<%= firstPageToken %>" class="ui toggle compact blue button">FirstPage</a>
    <% } %>
    <% if (nextPageToken) {%>
        <a href="/projects/<%= projectid %>/analyses?pageToken=<%= nextPageToken %>" class="ui toggle compact green button">NextPage</a>
    <% } %>
    <% if (prevPageToken) {%>
        <a href="/projects/<%= projectid %>/analyses?pageToken=<%= prevPageToken %>" class="ui toggle compact orange button">PreviousPage</a>
    <% } %>
    <% for (let i = 0; i < p.length; i++) { %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td><a href="/projects/<%= projectid %>/analyses/<%= p[i].id %>"><%= p[i].id %></a></td>
      <td><a href="/pipelines/<%= p[i].pipeline.id %>"><%= p[i].pipeline.id %></a></td>
      <td><%= id2username(p[i].ownerId) %></td>
      <td><%= p[i].reference %></td>
      <td><%= p[i].status %></td>
      <td><%= p[i].summary %></td>
      <td><%= format_date(p[i].timeCreated) %></td>
      <td><%= format_date(p[i].timeModified) %></td>
      <td><%= format_date(p[i].startDate) %></td>
      <td><%= format_date(p[i].endDate) %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    const status_ind = 5;
    const summary_ind = 6;
    $("#tab").DataTable({
      pageLength: 100,
      lengthMenu: [ [10, 20, 50, 100, -1], [10, 20, 50, 100, "All"] ],
      columnDefs: [
        {
          targets: summary_ind,
          render: $.fn.dataTable.render.ellipsis(10, true)
        }
      ],
      "createdRow": function ( row, data, index ) {
          if ( data[status_ind] === "SUCCEEDED" ) {
              $('td', row).eq(status_ind).addClass('completed');
          } else if (data[status_ind] === "PENDING") {
              $('td', row).eq(status_ind).addClass('pending');
          } else if (data[status_ind] === "FAILED" || data[status_ind] === "ABORTED") {
              $('td', row).eq(status_ind).addClass('failed');
          } else if (data[status_ind] === "RUNNING") {
              $('td', row).eq(status_ind).addClass('running');
          }

      },
      "dom": '<"top"flip>t<"bottom"flip>'
    });
  });
</script>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(data, null, 2)) %>
</pre>

<%- include("../../partials/footer") %>
