<% include ../partials/header %>

<h1><%= `Task Versions for Task with ID ${taskid}` %></h1>

<table id="version_table" class="cell-border display compact">

    <thead>
        <tr>
            <th>N</th>
            <th>ID</th>
            <th>Version</th>
            <th>Creator</th>
            <th>TimeCreated</th>
            <th>Mofifier</th>
            <th>TimeModified</th>
        </tr>
    </thead>
    <tbody>
        <% versions = versions["items"]; %>
        <% for (let i = 0; i < versions.length; i++) { %>
        <tr>
            <td> <%= `${i + 1}.` %> </td>
            <td> <%= versions[i].id %> </td>
            <td> <a href="/tasks/<%= taskid %>/versions/<%= versions[i].id %>"> <%= versions[i].version %> </a></td>
            <td> <%= id2username(versions[i].createdBy) %></td>
            <td> <%= format_date(versions[i].timeCreated) %></td>
            <td> <%= id2username(versions[i].modifiedBy) %></td>
            <td> <%= format_date(versions[i].timeModified) %></td>
        </tr>
        <% } %>
    </tbody>
</table>

<script>
   $(document).ready(function () {
      $('#version_table').DataTable();
   });
</script>


<% include ../partials/footer %>