<% include ../partials/header %>

<h1 class="title">List of Tasks</h1>

<table
  id="task_table"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Versions</th>
      <th>CreatedBy</th>
      <th>TimeCreated</th>
      <th>ModifiedBy</th>
      <th>TimeModified</th>
    </tr>
  </thead>
  <tbody>
    <% tasks = tasks["items"]; %> <% for (let i = 0; i < tasks.length; i++) { %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td><a href="/tasks/<%= tasks[i].id %>"><%= tasks[i].id %></a></td>
      <td><%= tasks[i].name %></td>
      <td><%= tasks[i].description %></td>
      <td><a href="/tasks/<%= tasks[i].id %>/versions">versions</a></td>
      <td title="<%= tasks[i].createdBy %>">
        <%= id2username(tasks[i].createdBy) %>
      </td>
      <td><%= format_date(tasks[i].timeCreated) %></td>
      <td title="<%= tasks[i].modifiedBy%>">
        <%= id2username(tasks[i].modifiedBy) %>
      </td>
      <td><%= format_date(tasks[i].timeModified) %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#task_table").DataTable({
      pageLength: 25,
      "dom": '<"top"flip>t<"bottom"flip>'
    });
  });
</script>

<% include ../partials/footer %>
