<% include ../partials/header %>

<h1 class="title"><%=`List of Files in Volume ${vname}`%></h1>

<table id="file_table" class="cell-border display compact">
  <thead>
    <tr>
      <th>N</th>
      <th>Path</th>
      <th>Name</th>
      <th>Size</th>
      <th>ID</th>
      <th>CreatedBy</th>
      <th>TimeCreated</th>
      <th>ModifiedBy</th>
      <th>TimeModified</th>
      <th>IsUploaded</th>
      <th>ArchiveStatus</th>
      <th>StorageTier</th>
    </tr>
  </thead>
  <tbody>
    <% fs = files["items"] %> <% for (let i = 0; i < fs.length; i++) { %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td><%= fs[i].path %></td>
      <td><%= fs[i].name %></td>
      <td><%= format_bytes(fs[i].sizeInBytes) %></td>
      <td><a href="/files/<%= fs[i].id %>"><%= fs[i].id %></a></td>
      <td title="<%= fs[i].createdBy %>">
        <%= id2username(fs[i].createdBy) %>
      </td>
      <td><%= format_date(fs[i].timeCreated) %></td>
      <td title="<%= fs[i].modifiedBy %>">
        <%= id2username(fs[i].modifiedBy) %>
      </td>
      <td><%= format_date(fs[i].timeModified) %></td>
      <td><%= fs[i].isUploaded %></td>
      <td><%= fs[i].archiveStatus %></td>
      <td><%= fs[i].storageTier %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#file_table").DataTable({
      columnDefs: [{ type: "file-size", targets: 3 }]
    });
  });
</script>

<% include ../partials/footer %>
