<% include ../partials/header %>

<h1 class="title"><%=`List of Folders in Volume ${vname}`%></h1>

<table
  id="folder_table"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>Path (Click for files recursive)</th>
      <th>Name</th>
      <th>Size</th>
      <th>ID</th>
      <th>CreatedBy</th>
      <th>TimeCreated</th>
      <th>ModifiedBy</th>
      <th>TimeModified</th>
      <th>IsUploaded</th>
      <th>ArchiveStatus</th>
      <th>StorageTier</th>
    </tr>
  </thead>
  <tbody>
    <% fs = folders["items"]; %>
    <% firstPageToken = folders["firstPageToken"] %>
    <% nextPageToken = folders["nextPageToken"] %>
    <% prevPageToken = folders["prevPageToken"] %>
    <% delete qs.pageSize %>
    <% delete qs.pageToken %>
    <% qs_new = queryString.stringify(qs) %>
    <% if (firstPageToken) {%>
      <a href="/folders?pageToken=<%= firstPageToken %>&<%= qs_new %>" class="ui toggle compact blue button">FirstPage</a>
    <% } %>
    <% if (nextPageToken) {%>
      <a href="/folders?pageToken=<%= nextPageToken %>&<%= qs_new %>" class="ui toggle compact green button">NextPage</a>
    <% } %>
    <% if (prevPageToken) {%>
      <a href="/folders?pageToken=<%= prevPageToken %>&<%= qs_new %>" class="ui toggle compact orange button">PrevPage</a>
    <% } %>


    <% for (let i = 0; i < fs.length; i++) { %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td><a href="/files?volume.name=<%= vname %>&path=<%= fs[i].path %>*&pageSize=1000"><%= fs[i].path %></a></td>
      <td><%= fs[i].name %></td>
      <td></td>
      <td><a href="/folders/<%= fs[i].id %>"><%= fs[i].id %></a></td>
      <td title="<%= fs[i].createdBy %>">
        <%= id2username(fs[i].createdBy) %>
      </td>
      <td><%= format_date(fs[i].timeCreated) %></td>
      <td title="<%= fs[i].modifiedBy %>">
        <%= id2username(fs[i].modifiedBy) %>
      </td>
      <td><%= format_date(fs[i].timeModified) %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#folder_table").DataTable({
      pageLength: 200,
      lengthMenu: [ [10, 25, 50, 100, 200, 300, -1], [10, 25, 50, 100, 200, 300, "All"] ],
      columnDefs: [{ type: "file-size", targets: 3 }]
    });
  });
</script>

<% include ../partials/footer %>

