<% include ../partials/header %>

<h1>List of Volumes</h1>


<table id="vol_table" class="cell-border display compact">
    <thead>
        <tr>
            <th>N</th>
            <th>Name</th>
            <th>ID</th>
            <th>CreatedBy</th>
            <th>TimeCreated</th>
            <th>ModifiedBy</th>
            <th>TimeModified</th>
        </tr>
    </thead>
    <tbody>
        <% vols = volumes["items"] %>
        <% for (let i = 0; i < vols.length; i++) { %>
        <tr>
            <td><%= `${i + 1}.` %></td>
            <td><%= vols[i].name %></td>
            <td><a href="/volumes/<%= vols[i].id %>"><%= vols[i].id %></a></td>
            <td title="<%= vols[i].createdBy %>"> <%= id2username(vols[i].createdBy) %></td>
            <td><%= format_date(vols[i].timeCreated) %></td>
            <td title="<%= vols[i].modifiedBy %>"> <%= id2username(vols[i].modifiedBy) %></td>
            <td><%= format_date(vols[i].timeModified) %></td>
        </tr>
        <% } %>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#vol_table').DataTable();
    });
</script>


<% include ../partials/footer %>