<% include ../partials/header %>

<h1 class="title">List of Volumes</h1>

<table
  id="vol_table"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>Name</th>
      <th>CreatedBy</th>
      <th>TimeCreated</th>
      <th>ModifiedBy</th>
      <th>TimeModified</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <% vols = volumes["items"]; %>
    <% firstPageToken = volumes["firstPageToken"] %>
    <% nextPageToken = volumes["nextPageToken"] %>
    <% prevPageToken = volumes["prevPageToken"] %>
    <% if (firstPageToken) {%>
        <a href="/volumes?pageToken=<%= firstPageToken %>" class="ui toggle compact blue button">FirstPage</a>
    <% } %>
    <% if (nextPageToken) {%>
        <a href="/volumes?pageToken=<%= nextPageToken %>" class="ui toggle compact green button">NextPage</a>
    <% } %>
    <% if (prevPageToken) {%>
        <a href="/volumes?pageToken=<%= prevPageToken %>" class="ui toggle compact orange button">PreviousPage</a>
    <% } %>

    <% for (let i = 0; i < vols.length; i++) { %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td>
        <a href="/files?volume.name=<%= vols[i].name %>&pageSize=1000">
          <%= vols[i].name %>
        </a>
      </td>
      <td title="<%= vols[i].createdBy %>">
        <%= id2username(vols[i].createdBy) %>
      </td>
      <td><%= format_date(vols[i].timeCreated) %></td>
      <td title="<%= vols[i].modifiedBy %>">
        <%= id2username(vols[i].modifiedBy) %>
      </td>
      <td><%= format_date(vols[i].timeModified) %></td>
      <td><a href="/volumes/<%= vols[i].id %>"><%= vols[i].id %></a></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#vol_table").DataTable({
      pageLength: 200,
      lengthMenu: [ [10, 25, 50, 100, 200, 300, -1], [10, 25, 50, 100, 200, 300, "All"] ]
    });
  });
</script>

<% include ../partials/footer %>
