<%- include("../partials/header") %>

<h1 class="title"><%= `Notification Channels` %></h1>

<table
  id="tab"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>ID</th>
      <th>Address</th>
      <th>Type</th>
      <th>TimeCreated</th>
      <th>TimeModified</th>
      <th>OwnerID</th>
      <th>Enabled</th>
      <th>TenantName</th>
    </tr>
  </thead>
  <tbody>
    <% p = data["items"]; %>
    <% for (let i = 0; i < p.length; i++) { %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td><a href="/notificationChannels/<%= p[i].id %>"><%= p[i].id %></a></td>
      <td><%= p[i].address %></td>
      <td><%= p[i].type %></td>
      <td><%= format_date(p[i].timeCreated) %></td>
      <td><%= format_date(p[i].timeModified) %></td>
      <td><%= id2username(p[i].ownerId) %></td>
      <td><%= p[i].enabled %></td>
      <td><%= p[i].tenantName %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#tab").DataTable({
      pageLength: 10,
      lengthMenu: [ [10, -1], [10, "All"] ],
      "dom": '<"top"flip>t<"bottom"flip>'
    });
  });
</script>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(data, null, 2)) %>
</pre>

<%- include("../partials/footer") %>
