<%- include("../partials/header") %>

<h1 class="title"><%= `BundleID ${bundleid}` %></h1>

<h2><a href="/bundles/<%= data.id %>/data">DATA</a></h2>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(data, null, 2)) %>
</pre>

<%- include("../partials/footer") %>

