<%- include("../partials/header") %>

<h1 class="title">Data for BundleID <a href="/bundles/<%= bundleid %>"><%= bundleid %></a></h1>

<table
  id="tab"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>ID</th>
      <th>Name</th>
      <th>Path</th>
      <th>Size</th>
      <th>TimeCreated</th>
      <th>TimeModified</th>
      <th>DataType</th>
      <th>TenantName</th>
    </tr>
  </thead>
  <tbody>
    <% p = data["items"]; %>
    <% for (let i = 0; i < p.length; i++) { %>
    <% d = p[i].data %>
    <% dd = d.details %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td><%= d.id %></td>
      <td><%= dd.name %></td>
    <% if (dd.dataType === "FOLDER") {%>
      <td><a href="/bundles/<%= bundleid %>/data?pageSize=100&parentFolderPath=<%= dd.path %>"><%= dd.path %></a></td>
    <% } else { %>
      <td><%= dd.path %></td>
    <% } %>
      <td><%= format_bytes(dd.fileSizeInBytes) %></td>
      <td><%= format_date(dd.timeCreated) %></td>
      <td><%= format_date(dd.timeModified) %></td>
      <td><%= dd.dataType %></td>
      <td><%= dd.tenantName %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#tab").DataTable({
      pageLength: 10,
      lengthMenu: [ [10, -1], [10, "All"] ],
      "dom": '<"top"flip>t<"bottom"flip>'
    });
  });
</script>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(data, null, 2)) %>
</pre>

<%- include("../partials/footer") %>
