<%- include("../../partials/header") %>

<h1 class="title"><%= `Base Tables` %></h1>

<table
  id="tab"
  class="ui striped selectable celled compact table"
  style="width:100%"
>
  <thead>
    <tr>
      <th>N</th>
      <th>TimeCreated</th>
      <th>TimeModified</th>
    </tr>
  </thead>
  <tbody>
    <% p = data["items"]; %>
    <% firstPageToken = data["firstPageToken"] %>
    <% nextPageToken = data["nextPageToken"] %>
    <% prevPageToken = data["prevPageToken"] %>
    <% if (firstPageToken) {%>
        <a href="/projects?pageToken=<%= firstPageToken %>" class="ui toggle compact blue button">FirstPage</a>
    <% } %>
    <% if (nextPageToken) {%>
        <a href="/projects?pageToken=<%= nextPageToken %>" class="ui toggle compact green button">NextPage</a>
    <% } %>
    <% if (prevPageToken) {%>
        <a href="/projects?pageToken=<%= prevPageToken %>" class="ui toggle compact orange button">PreviousPage</a>
    <% } %>
    <% for (let i = 0; i < p.length; i++) { %>
    <tr>
      <td><%= `${i + 1}.` %></td>
      <td><%= p[i].timeCreated %></td>
      <td><%= p[i].timeModified %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#tab").DataTable({
      pageLength: 10,
      lengthMenu: [ [10, -1], [10, "All"] ],
      "dom": '<"top"flip>t<"bottom"flip>'
    });
  });
</script>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(data, null, 2)) %>
</pre>

<%- include("../../partials/footer") %>

