<%- include("../partials/header") %>

<h1 class="title"><%= `MetadataModelID ${metadatamodelid}` %></h1>

<ul>
	<li><strong>Name: </strong> <%= data.name %></li>
	<li><strong>OwnerID: </strong> <%= data.ownerId %></li>
	<li><strong>TenantID: </strong> <%= data.tenantId %></li>
	<li><strong>TenantName: </strong> <%= data.tenantName %></li>
	<li><strong>Description: </strong> <%= data.description %></li>
	<li><strong>TimeCreated: </strong><%= data.timeCreated %></li>
	<li><strong>TimeModified: </strong><%= data.timeModified %></li>
</ul>

<ul>
	<li><a href="/metadataModels/<%= data.id %>/fields">Fields</a></li>
</ul>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(data, null, 2)) %>
</pre>

<%- include("../partials/footer") %>

